$max-width: 1110px;
$max-width-nav: 610px;
$color-black: #000;
$color-gray: #727272;
$color-blue: #34547a;
$color-white: #ffffff;
$bg-color-gray: #eeeff1;
$font-size-lg: 48px;
$font-size-md: 32px;
$font-size-sm: 16px;
$font-family: "Roboto", sans-serif;
$text-decoration-link: none;
$fifty-pixels: 50px;