/* Вага 2 */

div > p {
  background-color: #fffb00;
}

/* tag */

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* class */

.list {
  list-style-type: none;
}

/* id */

#section-one-header {
  font: 900 32px "Segoe UI";
}

/* attribute */

[href="#"] {
  text-decoration: none;
}

/* nested */

section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* child */

ul > li {
  background-color: #ccc;
}

/* sequence */

#section-one-header + p {
  font-size: 24px;
}

/* combination */

#section-third .list a:nth-child(odd) {
  background-color: #02ff17;
}
