div {
  border: 2px solid black;
  box-sizing: border-box;
}
.display-block img {
  display: block;
}
.display-inline img {
  display: inline;
}
.display-flex {
  display: flex;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-flex-row {
  display: flex;
  flex-direction: row;
}
img {
  width: 100px;
  height: 100px;
}
