:root {
  --max-width: 1110px;
  --max-width-nav: 610px;
  --color-black: #000;
  --color-gray: #727272;
  --color-blue: #34547a;
  --color-white: #ffffff;
  --bg-color-gray: #eeeff1;
  --font-size-lg: 48px;
  --font-size-md: 32px;
  --font-size-sm: 16px;
  --font-family: "Roboto", sans-serif;
  --text-decoration-link: none;
  --fifty-pixels: 50px;
}

/* tegs */

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
ul {
  gap: 42px;
  list-style: none;
}
ul a {
  color: var(--color-black);
  font-size: var(--font-size-sm);
}
nav {
  padding-top: 80px;
}
h1 {
  font-size: var(--font-size-lg);
}
p {
  color: var(--color-gray);
}
button {
  width: 225px;
  height: 65px;
  background-color: var(--color-blue);
  border: none;
}
iframe {
  width: var(--max-width);
  height: var(--max-width-nav);
}
footer {
  background-color: var(--color-blue);
  height: var(--fifty-pixels);
  padding: var(--fifty-pixels) 0;
}
footer h3 {
  margin-bottom: 20px;
}

/* class */

.active {
  color: var(--color-blue);
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
}
.bg-gray {
  background-color: var(--bg-color-gray);
}
.hero {
  padding: 160px 0 140px 0;
}

.projects {
  background-color: var(--color-blue);
}
.projects-list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.project-card {
  width: 140px;
  gap: 20px;
}

/* united (selectors)*/

ul,
.projects-list,
.project-card {
  display: flex;
  flex-direction: row;
}

h1,
.hero p {
  margin-bottom: 60px;
  width: 520px;
}

.about-me,
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
.project-card p,
.footer {
  color: var(--color-white);
}
.about-me,
.projects,
.video {
  padding: 100px 0;
}

/* united (pseudo-class)*/

:is(ul a, ul a:hover) {
  text-decoration: var(--text-decoration-link);
  transition: 0.5s;
}
:is(.about-me, .video) h2 {
  font-size: var(--font-size-md);
}
:is(.about-me, .video) p {
  text-align: center;
  width: 520px;
}
:is(.about-me, .video) p {
  margin: var(--fifty-pixels) 0;
}
