section {
  border: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  height: 100px;
}
:is(.inner-block, .parent-block, .nested-block) {
  width: 200px;
}
:is(.inner-block, .parent-block, .nested-block) {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 90%;
}
:is(.inner-block, .nested-block) {
  background-color: #ccc;
}
.inner-block {
  margin-right: 10px;
}
.semi-block {
  height: 45%;
  margin-bottom: 2.5%;
}

.left {
  float: left;
}
.right {
  float: right;
}

.center {
  margin: 0 auto;
  width: 410px;
  height: 100%;
  background-color: transparent;
}
